<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{associates.page.title}">Associates page</title>
    <th:block  th:insert="~{fragments/headerFooter :: fragmentHead}"></th:block>

</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:insert="~{fragments/leftMenu :: leftMenu}"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Insertar aqui el fragment de la barra superior -->
            <th:block th:insert="~{fragments/topBar :: topBar}"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <th:block th:if="${param.deleted != null}">
                    <div class="alert alert-success" role="alert">
                        Asociado eliminado correctamente!
                    </div>
                </th:block>

                <!-- Modal -->
                <script>
                    var associateIdToDelete;
                    function setAssociateIdToDelete(associateID) {
                        associateIdToDelete = associateID;
                        $("#alertErrorDelete").hide();
                    }                                                
                    function deleteAssociate() {
                        $.ajax({
                            url: '/associate/'+associateIdToDelete,
                            type: 'DELETE'                          
                        })
                        .done(function (result) {
                            window.location.href = "/associate?deleted";
                        })
                        .fail(
                            function (jqXHR) {
                                    $("#alertErrorDelete").html(jqXHR.responseText).show();
                            });
                    }
                </script>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar asociado</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    Está seguro que desea eliminar el asociado? Este cambio no se podrá revertir.
                                <div class="alert alert-danger" role="alert" 
                                    style="display: none;" id="alertErrorDelete">
                                    This is a danger alert—check it out!
                                  </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="deleteAssociate()">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / End Modal -->     

                <!-- DataTales Example -->
                <div th:unless="${#lists.isEmpty(associateList)}" class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example Asociados</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col style="width: 1%;">
                                </colgroup>
                                <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th class="th-sm">Acciones</th>
                                </tr>
                                </thead>
                                <tfoot class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th class="th-sm">Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                    <tr th:each="associate : ${associateList}">
                                        <td>[[${associate.name}]]</td>
                                        <td>[[${associate.email}]]</td>
                                        <td>
                                            <a title="Editar asociado" th:href="|/associate/${associate.id}|">
                                                <i class="fas fa-edit fa-sm fa-fw mr-2 "></i>
                                            </a>
                                            <a title="Eliminar asociado" th:onclick="|setAssociateIdToDelete(${associate.id})|"
                                               data-toggle="modal" data-target="#exampleModal">
                                                <i class="fas fa-trash fa-sm fa-fw mr-2 text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- // End Begin Page Content -->


        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div><!-- End Page Wrapper -->

    <th:block th:insert="~{fragments/headerFooter :: fragmentFoot}"/>
</body >
</html>